@model InstagramClone.Models.User

<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>

<div class="container">
    <div>
        <img src=@(Model.ProfileBannerUrl ?? "https://placehold.co/700x400") class="user-banner" alt="Alternate Text" />
    </div>
    <div class="profile-header">
        <div class="profile-pic-div">            
            <img src="@(Model.ProfilePictureUrl ?? "https://i.pravatar.cc/300")" alt="Alternate Text" class="profile-image" />
        </div>
        <div>
            <h1>@Model.UserName</h1>
            <p class="text-secondary">@Model.Bio</p>
        </div>
    </div>
    <div class="w-100 bg-light d-flex flex-column p-3">
        <h2>Posts</h2>
        @if(Model.Posts != null && Model.Posts.Any())
        {
            @foreach(var post in Model.Posts)
            {
                <div class="container d-flex">
                    <p>@post.Content</p>
                    <p>@post.TimeStamp.ToShortDateString()</p>
                </div>
            }
        }
        else
        {
            <p>No posts yet.</p>
        }
    </div>
</div>
